footer 
 .text-center.text-lg-start.text-muted.container
  section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
   div.me-5.d-none.d-lg-block
    span Cont&aacutectanos en nuestras redes Sociales:
   div.justify.content.end.botones
    a.me-4.link-secondary(href='https://www.facebook.com/profile.php?id=100087789008162',target='blank')
      i.fab.fa-facebook-f
    a.me-4.link-secondary(href='')
      i.fab.fa-google
    a.me-4.link-secondary(href='https://www.instagram.com/mqcleaningllc/',target='_blank')
      i.fab.fa-instagram
  section
  .container.text-center.text-md-start.mt-5
    .row.mt-3
     .col-md-4.col-lg-4.col-xl-3.mx-auto.mb-4
        h6.text-uppercase.fw-bold.mb-3.d-flex.flex-column.align-items-center
          |  Master Quality Cleaning LLC
        p.text-center
          | Master Quality Cleaning una empresa comprometida con el bienestar de nuestros clientes.
          | Ofreciendo el mejor servicio de limpieza de la zona.
          
     .col-md-4.col-lg-2.col-xl-2.mx-auto.mb-4.d-flex.flex-column.align-items-center.media
        
             h6.text-uppercase.fw-bold.mb-3
               | Secciones
             
             li
                a.text-reset(href='/') Inicio
             li
                a.text-reset(href='/nosotros') Nosotros
             li
                a.text-reset(href='/servicios') Servicios
             li
                a.text-reset(href='/testimonios') Testimonios
        
     .col-md-4.col-lg-5.col-xl-3.mx-auto.mb-md-0.mb-4.d-flex.flex-column.align-items-center
              h6.fw-bold.mb-3 CONTACTANOS
              
              p
                i.fas.fa-home.me-3.text-secondary
                |  15321 NW 29th Ave, Opa-locka, FL 33054, Estados Unidos
              p
                i.fas.fa-envelope.me-3.text-secondary
                |  masterqualitycleaning@gmail.com
              p
                i.fas.fa-phone.me-3.text-secondary
                |  + 01 786 371 7464

 .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.025);')
        | &copy;
        span= fechaActual
        | Copiright: 
        a.text-reset.fw-bold(href='#') Master Quality Cleaning LLC