#carouselExample.carousel.slide.carrouselexp
  .carousel-inner
    h2.mt-3 Nuestra Experiencia!
    hr
    .carousel-item.active
       .contenedore
        .contenido
          
           img(src="/img/exp/airbnb.png", alt="expereiencia en Master Quality")
        .contenido
            h4 M치s de 8 a침os brindando el servicio de limpieza!
            p  Brindamos el servicio de limpieza profesional destacando por excelentes opiniones sobre nuestro trabajo, en lujosa villa intercoastal.
            a(href="https://www.airbnb.com.hn/rooms/10901612?adults=1&s=13&unique_share_id=635AA426-C621-4F1A-A5CB-4730FFE9CEE0&source_impression_id=p3_1673643047_myMsuW%2FjgLN5kfUL&_set_bev_on_new_domain=1674100780_M2E3ZGUwYzU1MWNk") Visiatar el sitio
    .carousel-item 
        .contenedore2
          .contenido
            img.p(src="/img/exp/paisaje1.png", alt="expereiencia en Master Quality")
          .contenido
            img(src="/img/exp/testetimonio1.png", alt="testimonios de Master Quality Cleaning")
            p.mt-3 Durante este tiempo brindamos una atenci칩n c치lida y confortable, creando experiencias inolvidables.
            a(href="/servicios") Mira nuestros servicios!
    .carousel-item 
          .contenedore2
            .contenido
             img.p(src="/img/exp/paisaje2.png", alt="expereiencia en Master Quality")
            .contenido
             img(src="/img/exp/testimonio2.png", alt="testimonios de Master Quality Cleaning")
             p.mt-3 Servicio de limpieza profecional para Casas Vacionales , AirBnb o Villas.
             a(href="/servicios") Mira nuestros servicios!
  button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next