.row.mt-5.tarjetas
 .col-12.col-sm-6.col-md-4.d-flex.justify-content-center
   .tarjeta 
     .icono.icono.d-flex.justify-content-center  
         span
           i.fa-solid.fa-calendar-days
     .texto
         h4 Puntualidad 
         p Organizamos nuestra agenda para dar respuesta en el tiempo acordado
 .col-12.col-sm-6.col-md-4.d-flex.justify-content-center
    .tarjeta 
      .icono.icono.d-flex.justify-content-center  
         span
           i.fa-solid.fa-person-rays
      .texto
         h4 Profesionalismo
         p Brindamos una atención personalizada, según las necesidades de nuestros clientes y damos soluciones integrales a sus problemas de limpieza
     
 .col-12.col-sm-6.col-md-4.d-flex.justify-content-center 
     .tarjeta 
       .icono.d-flex.justify-content-center 
         span
           i.fa-solid.fa-handshake
       .texto
         h4 Responsabilidad
         p Nos comprometemos a solucionar cada problema de limpieza de nuestros clientes de manera responsable.